---
import { ClientRouter } from "astro:transitions";
---

<html>
  <head>
    <ClientRouter />
  </head>
  <body>
    <div style="color: white; height: 100vh; background-color: blue">
      Scroll Down First
    </div>
    <div style="height: 100vh; background-color: red">
      <a href="/page2">Click Me</a>
    </div>
  </body>
</html>
