---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="w-full h-screen bg-blue-500">Scroll Down First</div>
  <div class="w-full h-screen bg-red-500">
    <a href="/page2">Click Me</a>
  </div>
</MainLayout>
