---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="w-full h-screen bg-blue-500">0vh</div>
  <div class="w-full h-screen bg-red-500">100vh</div>
  <div class="w-full h-screen bg-green-500">200vh</div>
</MainLayout>
