---
import { ClientRouter } from "astro:transitions";
---

<html>
  <head>
    <ClientRouter />
  </head>
  <body>
    <div style="color: white; height: 100vh; background-color: blue">0vh</div>
    <div style="color: white; height: 100vh; background-color: red">100vh</div>
    <div style="color: white; height: 100vh; background-color: green">
      200vh
    </div>
  </body>
</html>
