---
import { ClientRouter, fade } from "astro:transitions";
---

<html>
  <head>
    <ClientRouter />
  </head>
  <nav
    style="position: fixed; background-color: white; top: 0; left: 0; right: 0; z-index: 1000;"
    transition:persist
  >
    Persisted Nav Bar
  </nav>
  <body transition:animate={fade({ duration: "0.4s" })}>
    <div style="margin-top: 100px; color: white; height: 100vh; background-color: blue">0vh</div>
    <div style="color: white; height: 100vh; background-color: red">100vh</div>
    <div style="color: white; height: 100vh; background-color: green">
      200vh
    </div>
  </body>
</html>
